.App {
  text-align: center;

  .cursor-pointer {
    cursor: pointer;
  }

  .side-padding {
    padding: 10px 120px;
  }

  .btn-blue {
    background-color: transparent;
    border: none;
    color: #524FFF;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  }

  .btn-blue-bg {
    background-color: #524FFF;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    padding: 10px 18px 12px;
  }

  input, select, textarea {
    padding: 12px 16px;
    box-shadow: 0px 2px 3px 0px #63597C14;
    border: 1px solid rgba(128, 128, 128, 0.207);
    border-radius: 4px;
    outline: none;
  }

  input:focus, select:focus, textarea:focus {
    outline: 1px solid #5A3DF9;
  }
}

@media only screen and (min-width: 1600px) {
  .App {
    .side-padding {
      padding: 10px 200px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .App {
    .side-padding {
      padding: 10px 20px;
    }
  }
}
